<h2>About Ask Me Anything</h2>

<p>The Ask Me Anything website was created to allow users to ask any question and offer the opportunity for others to answer the question from their perspective and share any additional knowledge.</p>
